streamlit
streamlit-option-menu
streamlit-geolocator
streamlit-folium
pandas
openpyxl
google-auth
gspread
Pillow
reportlab
qrcode
python-dotenv
folium
geopy
plotly
requests
google-generativeai
protobuf
grpcio
