streamlit
streamlit-option-menu
streamlit-geolocator
streamlit-folium
pandas
openpyxl
google-auth
google-cloud-firestore
gspread
Pillow
reportlab
qrcode
python-dotenv
folium
geopy
pvlib
timezonefinder
plotly
requests
google-generativeai
protobuf
grpcio
